@font-face {
  font-family: PokeFont;
  src: url(./fonts/PocketMonk-15ze.ttf);
}

body{
  font-family:PokeFont;
}
footer{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo{
  height: 2rem;
}
#title{
font-size: 5em;
}

#card_container>*{
min-width: 9rem;
flex-grow: 1;
max-width: 10rem;
transition: scale 0.3s ease;
display: flex;
flex-direction: column;
height: 10rem;
justify-content: space-between;
--tw-bg-opacity: 1;
background-color: #fb923c;
border-radius: 0.25rem;
padding:0.5rem ;
margin:0.5rem ;
}

#card_container>*:hover{
    scale: 1.1;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}


#card_container{
    justify-content: center;
} 

#type_grid>*{
    transition: all 0.2s ease;
}
#type_grid>*:hover{
    scale: 1.1;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
#browser_container{
    align-items: center;
    justify-content: space-between;
}
#type_grid{
    display: flex;
    flex-wrap: wrap;
    width: 10rem;
}
#type_grid>*{
height: 1.5rem;
width: 1.5rem;
margin: 1px;
}
.num{
    order: 1;
    margin-left: auto;
    font-size:small;
    text-align: center;
    height: auto;
}
.name{
    text-align: center;
}

#loadingScreen{
    height: 100%;
    width: 100%;
    background-color: #fb923c; 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lsImg{
    height: 10rem;
    animation: rotacionInfinita 2s ease infinite;
}
@keyframes rotacionInfinita {
    0% {
      transform: rotate(0deg); /* Empieza sin rotación */
    }
    100% {
      transform: rotate(360deg); /* Termina con una rotación completa (360 grados) */
    }
  }

@keyframes salida {
    0% {
      transform: translateY(+0);       
    }
    33% {
        transform: translateY(-20em); 
      }
    100% {
      transform: translateY(+100em); 
    }
  }
  
@keyframes bajada {
    0% {
        transform: translateY(+0);       
      }
    33% {
        transform: translateY(+0);  
      }
    100% {
        transform: translateY(+100em); 
      }
  }